{{ partial "header.html" . }}

<main class="content">
    <h2 class="list-title">{{ .Title }}</h2>
    <div>
        {{.Content}}
    </div>

  {{ partial "pagination.html" . }}

</main>

{{ partial "footer.html" . }}
